.venv/
.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
**/AutogluonModels/
# Files
*.parquet
*.csv
*.drawio

# Latex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
